<form action="" method="post">
  <div class="form-group">
    <label for="message">Message</label>
    <textarea name="message" id="message" required="true" class="form-control"><% if (locals.message) { %><%= message.content %><% } %></textarea>
  </div>
  <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
  <input type="submit" value="Send" class="btn btn-primary">
</form>
